<div class="content">
    <div>
        <label for="selectCountry">Filter</label>
        <select onchange={{action "filter" value="target.value"}} id="selectCountry">
            <option value="all">All</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
        </select>

        <label for="sortBy">Sort</label>
        <select onchange={{action "sort" value="target.value"}} id="sortBy">
            <option value="default">Default</option>
            <option value="newest">Newest First</option>
            <option value="oldest">Oldest First</option>
        </select>
    </div>
</div>
<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <th>Submitted</th>
        	<th>Name</th>
        	<th>Email</th>
        	<th>Description</th>
        	<th>Open/Closed?</th>
        	<th>Closed On</th>
            <th>Employee Name</th>
        </thead>
        <tbody>
        	{{#each filteredList as |issue|}}
        		<tr>
                	<td>{{issue.submitted}}</td>
                	<td>{{issue.name}}</td>
                	<td>{{issue.email}}</td>
                	<td>{{issue.description}}</td>
                	<td>{{issue.openclosed}}</td>
                    <td>{{issue.closed}}</td>
                	<td>{{issue.employeeName}}</td>
                </tr>
            {{else}}
            	<tr>
                    <td>No problems here right now</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        	{{/each}}   
        </tbody>
    </table>
</div>
{{yield}}
